<form method="POST" action="/ice_creams">
  <p>flavor: <input type="text" name="flavor"></p>
  <p>rating: <input type="number" name="rating"></p>
  <p>toppings: <input type="text" name="toppings"></p>
  <input type="submit" value="submit">
    


</form>